.sidebar {
    width: 350px;
    border-right: 1px solid #CCC;
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    overflow: auto;
    z-index: 10;
    background: white;
}
.sidebar .control-group {
    margin-left: 20px;
    margin-right: 20px;
}
.sidebar h1 {
    padding-bottom:20px;
}
input {
    /*width: 100%;*/
}
.sidebar p#tagline {
    margin-bottom:20px;
color: 
white;
background-color: 
#C43C35;
background-repeat: repeat-x;
background-image: -khtml-gradient(linear, left top, left bottom, from(
#EE5F5B), to(
#C43C35));
background-image: -moz-linear-gradient(top, 
#EE5F5B, 
#C43C35);
background-image: -ms-linear-gradient(top, 
#EE5F5B, 
#C43C35);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, 
#EE5F5B), color-stop(100%, 
#C43C35));
background-image: -webkit-linear-gradient(top, 
#EE5F5B, 
#C43C35);
background-image: -o-linear-gradient(top, 
#EE5F5B, 
#C43C35);
background-image: linear-gradient(top, 
#EE5F5B, 
#C43C35);
border-color: 
#C43C35 
#C43C35 
#882A25;
border-color: 
rgba(0, 0, 0, 0.1) 
rgba(0, 0, 0, 0.1) 
rgba(0, 0, 0, 0.25);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
padding: 10px 20px;
text-align: center;
text-shadow: 0 -1px 0 
rgba(0, 0, 0, 0.25);

}
h1, .tag {
    font-weight: 300;
    margin-left: 20px;
    margin-right: 20px;
}

h1 {
    padding-top: 20px;
}
.tag {
    color:  #999;
    margin-bottom: 20px;
}
.btn-group {
    display: inline-block;
    zoom: 1;
    *display: inline;
}
.btn-group input {
    width: 100px;
display: inline-block;
margin-bottom: 0;
float: left;
}
#feedback, #logos {
    text-align: center;
}
#logos {
    float: right;
    margin-top: 30px;
    margin-right: 20px;
}
.submit-query {
    width: 100% !important;
}
.add-row {
    /*margin-left: 20px !important;*/
}
.slide {
    z-index: 20;
    position: absolute;
    top:20px;
    left: 350px;
    height: 50px;
    background: white;
    border-left: 0;
    font-weight: bold;

-webkit-border-top-left-radius: 0px;
-webkit-border-bottom-left-radius: 0px;
-moz-border-radius-topleft: 0px;
-moz-border-radius-bottomleft: 0px;
border-top-left-radius: 0px;
border-bottom-left-radius: 0px;
}

.map-container {
    height: 100%;
    width: 100%;
    position: absolute;
    left:0;
    top:0;
}
.alert {
    overflow: hidden;
}

div.circle {
/*    margin: 100px auto;*/
    cursor: pointer;
    width:200px;
    height:200px;
}

div.outer-circle {
 
    /* Set the background and position */
 
    background:transparent;
    width:122px;
    height:122px;
 
    /* Set the border and the
    border radius to be exactly
    half the width and height
    so that it looks like a circle */
 
    -webkit-border-radius: 61px;
    -moz-border-radius: 61px;
    border-radius: 61px;
    border:1px solid #aaaaaa;
 
    /* You will need to use
    position:absolute so that
    the circles can appear on top of
    each other.
 
    Additionally, the z-index will
    be used to determine which DIV
    should appear lowest or highest */
 
    position:absolute;
    z-index:800;
 
}

div.middle-circle {
 
    /* This margin is used to create
    the 1px border between the middle
    and outer circle */
 
    margin:1px;
 
    /* Set the width and height */
 
    width:122px;
    height:122px;
 
    /* Set the border radius to half
    the width and height to make it
    look like a circle */
 
    -webkit-border-radius: 61px;
    -moz-border-radius: 61px;
    border-radius: 61px;
 
    /* Set the background gradient */
 
    background: #ececec; /* Old browsers */
    background: -moz-linear-gradient(top, #ececec 0%, #d8d8d8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ececec), color-stop(100%,#d8d8d8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ececec 0%,#d8d8d8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ececec 0%,#d8d8d8 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #ececec 0%,#d8d8d8 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#d8d8d8',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #ececec 0%,#d8d8d8 100%); /* W3C */
 
    /* You will need to use
    position:absolute so that
    the circles can appear on top of
    each other.
 
    Additionally, the z-index will
    be used to determine which DIV
    should appear lowest or highest */
 
    position:absolute;
    z-index:900;
 
}

div.inner-circle {
 
    /* This margin is used to position
    the circle in the center */
 
    margin:14px;
 
    /* Specify the background and
    width and height */
 
    background:#C43C35;
    width:96px;
    height:96px;
 
    /* Since we have text in it,
    we need to specify the text
    styles we want to use */
 
    font-size:11px;
    color:#FFF;
    line-height:96px;
    text-align:center;
    font-weight: bold;
 
    /* Set the border radius to half
    the width and height to make it
    look like a circle */
 
    -webkit-border-radius: 48px;
    -moz-border-radius: 48px;
    border-radius: 48px;
 
    /* For this circle, we will be using
    an inset box shadow to replicate
    the effect used. */
 
    -webkit-box-shadow: inset 0px 1px 1px 0px #575757;
    -moz-box-shadow: inset 0px 1px 1px 0px #575757;
    box-shadow: inset 0px 1px 1px 0px #575757;
 
    /* We can also add a bottom border
    to make it look slightly more 3D */
 
    border-bottom:1px solid #FFF;
 
    /* You will need to use
    position:absolute so that
    the circles can appear on top of
    each other.
 
    Additionally, the z-index will
    be used to determine which DIV
    should appear lowest or highest */
 
    position:absolute;
    z-index:1000;
}

